*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:white;
    font-family: 'Prompt', sans-serif;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 18px;

}

@media (min-width: 320px) {
    body{
       
        font-size: 12px;
     
        }
}

@media (min-width: 400px) {
    body{
       
        font-size: 18px;
     
        }
}

@media (min-width: 700px) {
    body{
       
        font-size: 20px;
     
        }
}

header{
    height: 100vh;
    display: flex; /* faz todo mundo virar coluna */
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
a:hover {
    
    color: #747171;
}
.menu{
    color: white;
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;

}

.menu a{
    
    display: block; /* usado para transformar o "a" em bloco para poder usar o padding */
    padding: 10px;

}


.titulo, .subtitulo {
    color: black;
    text-align: center;
}
.titulo {
    font-family: 'Prompt', sans-serif;
}
.subtitulo{
    font-family: 'Roboto', sans-serif;
}
/* -------------------- Sobre --------------------------*/
.sobre {
    color: white;
    background-color: black;
    text-align: justify;
    padding: 15px;
    height: 100vh;
}

.sobre h1 {
    margin-top: 40px;
}



/* -------------------- Temas -------------------- */

.temas {
    color: black;
    background-color: white;
    padding: 10px;
   
}
.temas a{
    color: black;
}
.temas a:hover{
    color: #747171;
}
.temas h2 {
    color: black;
    font-family: 'Prompt', sans-serif;
    padding: 10px;
    text-align: center;
    margin-top: 40px;  
}
.temas .grid {
    display: grid;
    gap: 2em;
    
    
   
}

@media (min-width: 580px){
.temas .grid {
    grid-template-columns: 200px 200px;
    justify-content: center;
    }
}

@media (min-width: 768px){
    .temas .grid {
        grid-template-columns: 200px 200px 200px;
        }
    .temas {

        height: 100vh;
    }
    }

    
@media (min-width: 1040px){
    .temas .grid {
        grid-template-columns: 200px 200px 200px 200px;
        }
    }


.temas figure {
    text-align: center;
    padding: 5px;
    
}
.img-temas {
    height: 130px;
    width: 180px;
}

/* ------------------- Contato ------------------------------ */

.contato {
    color: white;
    background-color: black;
    padding: 10px;
    height: 100vh;
    
 
}
.contato h1 {
    color: white;
    font-family: 'Prompt', sans-serif;
    padding: 10px;
    text-align: center;
    margin-top: 40px;  
}
.contato .grid {
    display: grid;
    gap: 2em;
    
    
   
}

@media (min-width: 500px){
    .contato .grid {
        grid-template-columns: 100px 100px;
        justify-content: center;
        }
    }

@media (min-width: 580px){
.contato .grid {
    grid-template-columns: 200px 200px;
    justify-content: center;
    }
}

@media (min-width: 768px){
    .contato .grid {
        grid-template-columns: 200px 200px 200px;
        }
    .contato {

        height: 100vh;
    }
    }

    
@media (min-width: 1040px){
    .contato .grid {
        grid-template-columns: 200px 200px 200px 200px;
        }
    }


.contato figure {
    text-align: center;
    padding: 5px;
    
}
.img-contato {
    height: 80px;
    width: 75px;
    margin-top: 40px;
}



/* ---------------- Complet ------------------- */
.complet {
    background-color: black;
}

/* ---------------- Direito Civil -------------- */


.dcivil, .dcivil h1 {

        text-align: center;

}

.dcivil ul {

    padding: 20px;

}

.dcivil li{
    list-style: none;
}

.dcivil a{
    color: black;
}

.dcivil a:hover{
    color: #747171;
}